.filmButton
{
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 8px;
  border: none;
  border-radius: 20px;
  background-color: var(--supplementary-color-1);
  transform: scale(1);
  box-shadow: 0 0 2px var(--supplementary-color-1);
  transition: 
    transform 0.2s ease-in, 
    box-shadow 0.2s ease-in;
  font-size: 0.8em;
  font-weight: 500;
}


.filmButton:hover
{
  transform: scale(1.02);
  box-shadow: 0 0 5px var(--supplementary-color-1);
  transition: 
    transform 0.2s ease-in, 
    box-shadow 0.2s ease-in,
}

.filmYear {
  font-size: 0.9em;
  font-weight: 200;
}


.filmContainer
  {
    padding: 0.3vw;
    margin: 0.3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(225px + 0.6vw);
    border-radius: 5px;
    background-color: var(--supplementary-color-2);
    align-items: stretch;

    transform: scale(1);
    transition:
      transform 0.2s ease;
  }


.filmContainer:hover
{
  transform: scale(1.01);
  transition:
    transform 0.2s ease;
}


.filmButtonsContainer
{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.filmTitle
{
  margin: 10px 0 0 0;
  font-size: 1.7vw;
}


.filmAuthor
{
  margin: 8px 0 0 0;
  font-size: 1.2vw;
  font-weight: 300;
  text-align: right;
}


.filmRating
{
  margin-bottom: 15px;
  font-size: 1.2vw;
  font-weight: 300;
  text-align: right;
}


.filmPreview
{
  border-radius: 5px;
    box-shadow: 1px 1px 7px 0px #222;
    cursor: pointer;
}


@media screen and (min-width: 1000px ) {
  .filmContainer
  {
    width: calc(100vw / 3 - 1.2vw);
  }


  .filmDescrpContainer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 150px - 20px);
    margin: 0 10px;
    font-family: sans-serif;
    /* background-color: #ddd; */
  }


  .filmPreview
  {
    --size: 150px;
    width: var(--size);
    height: calc(var(--size) / (150 / 225));
  }
}


@media screen and (min-width: 601px) and (max-width: 1000px) {
  .filmContainer
  {
    width: calc(100vw / 2 - 1.2vw);
  }


  .filmDescrpContainer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 150px - 20px);
    margin: 0 10px;
    font-family: sans-serif;
    /* background-color: #ddd; */
  }


  .filmPreview
  {
    --size: 150px;
    width: var(--size);
    height: calc(var(--size) / (150 / 225));
  }
}


@media screen and (max-width: 600px) {

  .filmContainer
  {
    max-width: calc(100vw);
    min-height: calc(225px + 0.6vw);
  }


  .filmDescrpContainer
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(100%);
    margin: 0 10px;
    font-family: sans-serif;
    /* background-color: #ddd; */
  }


  .filmPreview
  {
    --size: calc(100vw - 1.2vw);
    width: var(--size);
    height: calc(var(--size) / (150 / 225));
  }
}
