.scrollUpButtonContainer
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  z-index: 10;
}


.scrollUpButton
{
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 1.7em;
  background-color: #aaa;
  border: 2px solid #555;
  border-radius: 50%;
  margin-right: 2.3vw;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 60px #fff, -3px 3px 6px #333;
  transform: rotate(270deg) translateX(0px);
  opacity: 0.6;
  transition: opacity 2s ease-out, transform 2s ease-out;
}


.scrollUpButton:hover
{
  opacity: 0.9;
  transform: scale(1.03) rotate(270deg);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out-out;
}


.scrollUpButtonHidden
{
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 1.7em;
  background-color: #aaa;
  border: 2px solid #555;
  border-radius: 50%;
  margin-right: 2.3vw;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 60px #fff, -3px 3px 6px #333;
  opacity: -1;
  transform: translateX(60px) rotate(0deg);
  transition: opacity 2s ease-out, transform 2s ease-out;
}
