:root {
  --background-color: #331D2C;
  --text-color: #EFE1D1;
  --supplementary-color-1: #A78295;
  --supplementary-color-2: #3F2E3E;
}

*
{
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

*:focus-visible
{
  outline: inherit;

}


body
{
  background-color: var(--background-color);
}


::-webkit-scrollbar
{
  width: 6px;
  opacity: 0;
}


::-webkit-scrollbar-thumb
{
  height: 100px;
  background-color: #555;
  border-radius: 10px;
  opacity: 1;
}
