.filmDescriptionContainer {
  --width: 65vw;
  padding: 0.3vw;
  display: flex;
  max-width: var(--width);
  flex-wrap: wrap;
  font-family: sans-serif;
}

.filmTitleContainer {
  margin-left: 1vw;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
}

.filmTitle {
  margin: 0 0 0 0;
  font-size: 3em;

}

.filmTitleEn {
  margin: 5px 0 0 1.5vw;
  font-size: 2em;
  font-weight: 400;
}

.filmDescrpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2vh 0;
  margin-left: 1vw;
  width: calc(var(--width) - 300px - 3vw);
}

.filmDescription {
  margin: 2vh 0.4vw 1vh 0.4vw;
  font-size: 1.4em;
  font-weight: 400;
  max-width: 80vw;
}

.filmPreview {
  --size: 300px;
  width: var(--size);
  height: calc(var(--size) / (150 / 225));
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px #222;
}

.filmParam {
  margin-left: 0.7vw;
  margin-bottom: 0.8vh;
  letter-spacing: 1px;
  width: calc(var(--width) - 300px - 3vw);
  font-size: 1.6em;
}

.filmParams {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0;
}

.filmAuthor {
  margin-left: 0.7vw;
  font-size: 1.5em;
}

.filmRating {
  display: flex;
  justify-content: flex-end;
  font-size: 2vw;
  font-weight: 300;
}
