.searchBarContainer
{
  display: flex;
  width: 100%;
  justify-content: center;
}


.searchBar
{
  margin: 2vh 7vw 2vh 0vw;
  padding: 3px 4px;
  width: 100%;

  border: none;
  border-radius: 6px;
  background-color: var(--supplementary-color-2);
  letter-spacing: 0.5px;

  box-shadow: 0 0 5px var(--supplementary-color-2);
  transition: box-shadow 0.2s ease;
}


.searchBar:hover
{
  box-shadow: 0 0 8px var(--supplementary-color-2);
  transition: box-shadow 0.2s ease;
}


.searchBar:focus
{
  box-shadow: 0 0 15px var(--supplementary-color-2);
  transition: box-shadow 0.2s ease;
}
